
h1= 'Talent portal Information'
form( action='users', method='post' )
 table(cellspacing='0', cellpadding='0', border='0', width='100%')
    label TalentID:
    input( name='talent_id', type='text' )
    label FirstName:
    input( name='firstName', type='text' )
    label MiddleName:
    input( name='middleName', type='text' )
    label LastName:
      input( name='lastName', type='text') 
    label Status:
      input( name='status', type='text')
    label WorkAuthorization:
      input( name='workAuthorization', type='text')
    
    input( type='submit',value='Submit') 



